.landingImages {
    width: 100%; 
    height: auto;
  }
  .landingTextRowGray{
    padding: 20px;
    background-color: #939597;
    color: white;
    
  }
  .landingTextRowYellow{
    padding: 20px;
    background-color:#f5df4d;
    font-family: "Open Sans", Sans-Serif;
    color: #939597;
  
  }
  .landingText {
    padding: 40px;
    text-align: left;
  }