.video-container {
  height: 50vh;
  position: relative;
  overflow: hidden;
  @media (min-width: 600px) {
    height: 100vh;
  }
}

.video-hero {
  object-fit: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.description {
  margin: 20px;
  font-family: "Open Sans", Sans-Serif;
  color: #939597;
  display: block;
  text-align: left !important;
}
