.btn {
  width: 29%;
  padding: 10px;
  margin: 20px;
  height: 45px;
}
.btn:hover {
  color: #f5df4d;
}

.loginBtn,
.signupBtn {
  padding: 10px !important;
}

.style_me_logo {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-decoration: none;
}
.logo {
  text-decoration: none;
}

.firstInputBox {
  margin-top: 25px !important;
}

.inputBox {
  width: 60%;
  padding: 10px;
  margin-top: 10px;
}
/* .btn-outline-secondary:hover {
  color: #f5df4d;
} */
.reusableBtn:hover {
  background-color: #f5df4d;
  color: #6c757d;
}

/* Add New Item styling */
.addToCollectionBtn {
  background-color: #f5df4d;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 50px;
  border: none !important;
  border-radius: 0.4rem;
  padding-top: 12px;
  text-decoration: none;
}

.topButtons {
  display: inline-flex;
  justify-content: center;
}

.seeCatalogsBtn,
.buildoutfitBtn,
.newItemBtn {
  width: 90%;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.seeCatalogsBtn:hover,
.buildoutfitBtn:hover,
.newItemBtn {
  background-color: #939597;
  color: white;
}

.inputItemName {
  justify-content: center !important;
}
.itemName {
  width: 50% !important;
  height: 50px;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  margin-top: 20px;
}
/* ===================================== */
.listContainer {
  justify-content: center;
  margin: 30px auto;
}
.ulElement {
  margin-right: 27px;
  margin-left: 3px;
  list-style-type: none;
  background-color: lightgray;
  padding: 0;
  width: 150px;
  justify-content: center;
  padding-bottom: 19px;
  border-radius: 27px;
}
.liElement {
  display: grid;
}
.imgElement {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.predictionBtn {
  margin-bottom: 20px !important;
  width: 50%;
  margin: auto;
  border-style: solid;
  border-width: 1px;
  padding-top: 20px;
  color: grey;
}

.truePredictionBtn,
.falsePredictionBtn {
  color: grey !important;
  margin: 0 !important;
  width: fit-content;
}

.truePredictionBtn:hover,
.falsePredictionBtn:hover {
  width: fit-content;
  background-color: #939597;
  color: white !important;
}

.questionToTheUser {
  margin: auto 5px;
}

.dropdownList {
  margin-bottom: 20px;
  width: 15%;
  height: 30px;
}

.landing_btn_container {
  display: inline;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  justify-content: center;
}

.signmeUpBtn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.socialContainer {
  display: table;
  width: 100%;
  padding: 60px 60px;
}
.socialList {
  display: block;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}
.socialUnorderList {
  width: 80%;
  margin-bottom: 30px;
  margin-top: 30px;
  border: solid;
  border-color: lightgray;
  box-shadow: 5px 5px 5px lightgrey;
}
.socialH3 {
  text-decoration: none;
  padding: 10px;
  font-family: "Open Sans", Sans-Serif;
  font-size: 24px;
  color: #939597;
}
.socialOutfit {
  display: table-cell;
  background: whitesmoke;
  border-color: darkgray;
  border-style: solid;
  border-radius: 30px;
  width: 40%;
}
.socialSharedList {
  padding: 10px;
  list-style-type: none;
  background-color: white;
  margin: 20px;
}
.socialtopButtons {
  width: 100%;
  display: flex;
  margin-right: 40px;
  margin-left: 40px;
}
.shareoutfitBtn {
  width: 50%;
  height: 50px;
  margin-left: 300px;
  margin-right: 140px;
}
.socialoutfitsBtn {
  width: 50%;
  height: 50px;
  margin-left: 116px;
border-radius: 20px;
}
.socialItemName {
  width: 80%;
  height: 50px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  margin-top: 20px;
}
.socialUserInfo {
  display: flex;
}
.socialUsername {
  font-weight: bold;
  color: #6c757d;
  text-decoration: underline;
  font-size: 20px;
  margin-bottom: 0%;
}
.socialShare {
  font-size: 20px;
  color: #939597;
}
.socialImg {
  width: 100px;
  height: 100px;
  margin-right: 5px;
}
.socialShareInfo {
  display: block;
  margin-top: 0%;
}
.sharedOutfit {
  font-size: 20px;
  color: gray;
}
.PostBtn{
  margin-left: 300px;
}
.postBtn{
  display: initial;
  margin-left: 70%;
  margin-top: 0%;
  width: 20%;
  background: white;
}

.displayOutfits {
  display: none;
  margin-bottom: 25px;
}

.input_field, .full-page-signup {
  width:100% !important;
}

.firstInputBox {
  margin-top: 25px !important;
}

.form-control, .inputBox {
  width: 75% !important;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
    border-width: 1px;
    border-color: lightgray;
}
